
.category{
    font-size: 1.5rem;
}
.category-head{
    font-size: 1.5rem;
}
.category-head:hover{
    cursor: pointer;
}
.category:hover{
    background-color: var(--sec-color);
    cursor: pointer;
}
.circle{
    border-radius: 50px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 1.5rem;
    margin-right: 20px;
    padding-top: 5px !important;
    
}
.category:hover .circle{
    background-color: var(--sec-color);
    
}
.selected{
    border-right:3px var(--pri-color) solid;
    background-color: var(--sec-color);
}
.selected .circle{
    background-color: var(--sec-color);

}
.bi-list{
    font-size: 2rem;
}

.store-main{
    /* height: 100vh; */
    z-index: 0;
}

.border-bottom{
    border-bottom:1px var(--pri-color) solid;
}
.wish{
    position:absolute;
    right:10px;
    top:10px;
    height: 40px;
    width:40px;
    border-radius: 100%;
}
.large{
    font-size: 1.5rem;
    transform: translateY(5px);
    transition: 1s;
}
.wish:hover{
    cursor:pointer;
}
.top-panel{
    position: sticky;
    top:60px;
    z-index: 100;
    
    backdrop-filter: blur(100px);
}
.cartBtn{
    transition: 0.5s;
}
.added{
    background-color:rgb(18, 214, 45) !important;
    color:white !important;
}
.itemCnt{
    color:red;
    top: -2px;;
    right: 0;
    background-color: white;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    text-align: center;

}
.storeBtn{
    border:white solid 1px;
    align-self: center;
    padding: 5px 10px;
    border-radius: 3px;
    z-index: 1000000;
    background-color: rgba(153, 153, 153, 0);
    
}
.storeBtn:hover{
    cursor:pointer;
}
.storeDiv div:hover{
    background-color: gray;
}
.store-slider{
    position: absolute;
    z-index: 70;
    /* top:0; */
    left:0;
    bottom: 0;
    height: 100%;
    width:200px;
    /* min-width:300px; */
    overflow-y: scroll;
    /* background-color: var(--sec-color) !important;
    backdrop-filter: blur(80px) !important; */
    transform: translateX(-200px);
    transition: 0.7s;

}
.store-slider::-webkit-scrollbar {
  display: none;
}
.main{
  position: fixed;
}
.store-main{
  height: 100vh;
  overflow-y: scroll;
  /* flex-grow: 1; */
}
.store-main::-webkit-scrollbar {
  width: 3px;
}
.store-main::-webkit-scrollbar-thumb {
  background: var(--pri-color);
  border-radius: 20px;
}
.store-main::-webkit-scrollbar-thumb:hover {
  background: rgb(173, 173, 173);
}

